.content {
    display: flex;
    border: 2px solid forestgreen;
    background-color: aqua;
}

.content_nav {
    flex: 30% 1 0;
}

.content_nav ul {
    background-color: bisque;
    padding: 10px 10px 10px 40px;
    box-sizing: border-box;
    margin: 0;
}

.content_text {
    flex: auto 1 1;
    background-color: darkgray;
    display: grid;
    gap: 5px;
}

.text {
    margin: 0;
}

.text img {
    float: right;
    width: 50%;
}